name: ci-sonarcloud
on:
  pull_request:
    branches:
      - go-nuvem

jobs:
  run-cli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2    
        with:
          go-version: 1.15
      - run: go test -coverprofile=coverate.out   